/node_modules
package-lock.json
tsconfig.json
.env
not good.json
not good(2).json
not good(3).json
getToken.ts
/fireToken/node_modules
enable-totp.js
mindsync-b978b-firebase-adminsdk-fbsvc-cbcd2ae46f.json