# Ignore node_modules
/node_modules
# Ignore package-lock.json
package-lock.json
tsconfig.json
.env
mindsync-3fb4f-firebase-adminsdk-fbsvc-6a8eb9b421.json
mindsync-b978b-firebase-adminsdk-fbsvc-f0703ab54f.json
mindsync-b978b-c1d1826e0375.json
getToken.ts
/firebaseToken/node_modules
server/*firebase-adminsdk*.json
